body {
  background-color: #00d084;
}

.formcontent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.formcontent * {
  width: 100%;
}
.bg-turquesa {
  background-color: #00d084;
}
.bg-marino {
  background-color: #0b3856;
}
.logo {
  width: 150px;
}
.inverted-image {
  filter: brightness(0%) contrast(100%);
  
}
